<html>
    <head>
        
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
<div class="main">
    <div class="navbar">
        <div class="icon">
            <div class="logo">Foodie</div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">ABOUTUS</a></li>
                <li><a href="#">ARTICLES</a></li>
                <li><a href="#">VIDEOS</a></li>
                <li><a href="#">TESTING</a></li>
            </ul>
        </div>
        <div class="search">
            <input class="srch" type="search" name="search" placeholder="type here">
            <a href="#"><button class="btn">Search</button></button></a>
        </div>
        
    </div>
</div>
    </body>
</html>