<!DOCTYPE html>
<html lang="en">
    <head>
        <title>know your food</title>
        <link rel="stylesheet" href="css/index.css">

    </head>
    <body>
        
    
    <div class="content">
        <h1>WANNA <span style="color:red">KNOW</span> YOUR FOOD</h1>
        <p class="par">Are you sure the food that you eat is safe from chemicals and is unadultered.if not then we are here to help you.<br> join us to know more...</p>
    </div>
   
    <a href="/signup"><button class="signup">Sign Up</button></button></a>
    <a href="/login"><button class="login">Login</button></button></a>
    </body>
</html>