<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="css/sign.css">
        <script src="https://kit.fontawesome.com/b676d54a49.js" crossorigin="anonymous"></script>
        
        
    </head>
    <body>
       
       

        <div class="signup">

        <h1>Sign Up</h1>
        <form action="/signupsubmit" method="GET">
           <label> firstname</label>
            <input type="text" name="firstname"><br>
            <label>lastname</label> 
            <input type="text" name="lastname"> <br>
            <label>email</label>
             <input type="text" name="email"><br>
            <label>password
            </label> <input type="password" name="password"><br>
          <input type="submit">   
        </form>
    </div>

    </body>
</html>